{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block content_wrapper %}
    
    <!-- page content -->
        <div class="right_col" role="main">
          <!-- top tiles -->
          <div class="row">
          
          <div class="col-md-3">
          <div style="padding:10px;background-color:white;">
          <span>Espace libre</span>
          </div>
          </div>
<div class="col-md-9">
                {% for message in app.flashes('actualite_published') %}
                        <div class="flash-notice alert alert-success">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{ message }}
                        </div>
                {% endfor %}
    <div style="background-color:white;padding:10px;">
          
            {{ form_start(form, { 'action': path('admin_actualite_new'), 'attr': { 'role': 'form' } }) }}
            <div class="form-group">
            <label>Titre</label>
            {{ form_widget(form.titre, {attr: {class: 'form-control'} }) }}
            </div>

            <div class="form-group">
                <label>Description</label>
                {{ form_widget(form.description, {attr: {class: 'form-control'} }) }}
            </div>

            <div class="form-group">
                <label>Source</label>
                {{ form_widget(form.source, {attr: {class: 'form-control'} }) }}
            </div>

            <div class="form-group" style="margin-left:40px;">
                <sup class="text-red">*</sup>
                {{ form_label(form.imgDoc) }}
                {{ form_widget(form.imgDoc) }}
                {{ form_errors(form.imgDoc) }}
                <div class="mt-10">
                <small class="text-bold d-block"><i class="fa fa-info-circle"></i> Les extensions autorisées sont: .jpg, png</small>
                </div>
            </div>

            <hr>


            <div class="box-footer text-right">
            {{ form_widget(form.save) }}
            </div>
                {{ form_end(form) }}
    </div>
</div>
          </div>
          </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    
{% endblock %}
